# --- Blocklist Strategy (Standard) ---

# 1. Ignore IDE and System files
.idea/
.vscode/
.DS_Store

# 2. Ignore Build folders (Junk)
cmake-build-debug/
build/
bin/
out/
*.o
*.exe

# 3. Track everything else automatically!
# (No need to list src, header, assets, etc.)